.slider-track {
    display: flex;
    justify-content: space-between;
    flex-direction: row !important;
    animation: 10s slide infinite linear;
    white-space: nowrap;
    gap: 50px;
}

.slider {
    display: inline-block;
    overflow: hidden;
}

.slider:hover .slider-track {
    animation-play-state: paused;
}

@keyframes slide {
    from {
        transform: translateX(50%);
    }
    to {
        transform: translateX(-50%);
    }
}